@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	text-decoration:none;
	outline: none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
*::selection {
	background:##02355e;
	color:#fff;
}

html {
	font-size: 62.5%;
	overflow-x:hidden;
}

body {
	background: #d9ebf5;
}

.heading {
	font-size: 4rem;
	color: #02355e;
	text-align: center;
	padding: 6rem 1rem 0 0;
	letter-spacing: .2rem;
	font-weight: 500;
}
.title {
	padding: 0 1rem;
	font-size: 2rem;
	text-align: center;
	font-weight: 400;
	color: #fff;
}
header {
	width:100%;
	background: #d9ebf5;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	z-index: 1000;
	transition: .2s;
}

header .navbar ul{
	display:flex;
	align-items: center;
	justify-content: space-between;
	list-style:none;
}

header .navbar ul li{
	margin: 0 1rem;
	display: inline;
}
header .navbar ul li a{
	font-size: 2rem;
	color: #fff;
	transition: .2s;
	text-decoration: none;
	color: #000;
	padding: 10px 15px;
}
header .navbar ul li .active{
	margin-top: 50px;
}
header .navbar ul li a:hover {
	color:#02355e;
}
header .logo {
	display: flex;
	align-items:center;
}
header .logo-img{
	height: 50px;
	width: auto;
}
header .fa-bars {
	font-size:3rem;
	color:#02355e;
	cursor:pointer;
	display:inline;
	transition: .2s;
}

.home {
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/gif ojo.gif') no-repeat center center/cover;
    filter: blur(5px); 
    z-index: -1;
    opacity: 0.7; /
}

.home .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 2rem;
}

.home .content h1 {
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.home .content p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 25rem;
	text-transform: none;
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #02355e;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.3);
    margin-top: 2rem;
    border: none;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #02355e;
    color: #02355e;
}

.products {
	text-align: center;
	margin: 100px 0;
	color: #fff
}
.products .title{
	color: #000;
}

.products .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.products .box-container .box {
	height:25rem;
	width:25rem;
	background:#161e4a;
	text-align:center;
	border-radius:1rem;
	box-shadow:0 .3rem 5rem rgba(0,0,0,.5);
	margin: 2rem;
	cursor: pointer;
}

.products .box-container .box i {
	height:6rem;
	width:6rem;
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	color:#fff;
	background:#c63bfa;
	font-size:3rem;
	margin: 2rem 0;
	transition: .2s;
}

.products .box-container .box h3 {
	font-size: 2rem;
	color: #fff;
	transition: .2s;
}

.products .box-container .box p {
	font-size: 1.3rem;
	padding: .7rem 2rem;
	color: #fff;
	
}

.products .box-container .box:hover i {
	background:#ff046f;
}

.products .box-container .box:hover h3 {
	color:#c63bfa;
}

.products button {
	height:5rem;
	width:20rem;
	border-radius: 1rem;
	background: #02355e;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	transition: .2s;
	box-shadow:0 .3rem 1rem rgba(0,0,0,.3);
	margin-top: 50px;
}

.products button:hover {
	background: none;
	border:.2rem solid #02355e;
}

.about {
	background:#d9ebf5;
	
}

.about .title {
	
	margin-top: 1.5rem;
	color: #000;
	margin-left: 100px;
	margin-right: 100px;
	text-transform: none;
	text-align: justify;
	
}
.about .row h3{
	color: #000;
	text-transform: none;
}

.about .row {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.about .row .image img {
	height: 100%;
	width: 30rem;
}

.about .row .content {
	margin: 3rem 0;
	
}

.about .row .content h3 {
	font-size: 3rem;
	color: #ff046f;
}

.about .row .content p {
	font-size: 1.6rem;
	color:#fff;
	padding:1rem 0;
}

.about .row .content button {
	height: 5rem;
	width: 17rem;
	background: #02355e;
	color:#fff;
	border-radius: 1rem;
	box-shadow:0 .3rem 1rem rgba(0,0,0,.3);
	cursor:pointer;
	font-size: 2rem;
	transition: .2s;
}

.about .row .content button:hover {
	background:none;
	border: .2rem solid #02355e;
}


.location {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 1px solid #ccc;
    padding: 40px;
    margin: 20px;
}


.location .content {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}

.location .block {
    margin-right: 40px; 
}

.location .block img {
    max-width: 300px;
    height: auto;
}

.location .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location .details h2 {
    margin: 5px 0;
}




.reviews {
	background: #d9ebf5;
	
}
.reviews .title{
	color: #000
}

.reviews .box-container {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
	flex-wrap: wrap;
}

.reviews .box-container .box {
	width: 28rem;
	padding-bottom: 1rem;
	text-align: center;
	box-shadow:0 .3rem 5rem rgba(0,0,0,.3);
	background: #11183a;
	margin: 4rem 2rem;
}

.reviews .box-container .box img {
	height: 8.5rem;
	width: 8.5rem;
	object-fit:cover;
	border-radius:50%;
	margin-top:-4rem;
	border: .6rem solid #ff046f;
	border-left: .6rem solid #c63bfa;
	border-bottom: .6rem solid #c63bfa;
}

.reviews .box-container .box h3 {
	font-size: 2rem;
	color: #fff;
	padding: 0.5rem;
}

.reviews .box-container .box p {
	font-size: 1.4rem;
	color:#fff;
	padding: 1.3rem .1rem;
	margin-left: 5px;
	margin-right: 5px;
}

.reviews .box-container .box .stars i {
	font-size: 1.6rem;
	color: #c63bfa;
	padding: 1.3rem .1rem;
}

.contact {
	background:#d9ebf5;
}

.contact .title{
	color: #000;
}

.contact .row {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	text-align : center;
}

.contact .row .form-container {
	width: 50%;
	
}

.contact .row .form-container input , textarea {
	height: 4rem;
	width: 100%;
	background:#fff;
	border-radius: 5rem;
	padding: 0 1rem;
	margin: 1rem 0;
	color: #02355e;
	font-size: 1.7rem;
	transition: .2s linear;
}

.contact .row .form-container input:focus , textarea:focus {
	border: .rem solid #02355e;
} 

.contact .row .form-container textarea {
	height: 20rem;
	border-radius: 1rem;
	padding:1rem;
	resize: none;
}

.contact .row .form-container input[type="submit"] {
	height: 5rem;
	width: 17rem;
	background: #02355e;
	color:#fff;
	cursor:pointer;
	font-size: 2rem;
	transition: .2s;
}

.contact .row .form-container input[type="submit"]:hover{
	background: none;
	color:#02355e;
	border: .2rem solid #02355e;
} 

.footer {
	text-align: center;
}

.footer .icons {
	padding: 3rem 0;
}
.footer .icons a {
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.2rem;
	text-align: center;
	border-radius: 50%;
	color:#c63bfa;
    border: .2rem solid #c63bfa;
	font-size: 2rem;
	margin: 0 .1rem;
	transition: .2s linear;
}

.footer .icons a:hover{
	color:#fff;
	background:#ff046f;
	border-color: #ff046f;
}

@media (max-width:768px) {
	html{
		font-size: 55%;
	}
	
	header .fa-bars {
		display:block;
	}
	
	header .navbar {
		position:fixed;
		top:-100rem;
		left: 0;
		width:100%;
		background:#161e4a;
		border-radius: 1rem;
		opacity: 0;
		transition: .2s linear;
	}
	
	header .navbar ul {
		flex-flow: column;
		padding: 2rem 0;

	}
	
	header .navbar ul li{
		margin: 1rem 0;
		width: 100%;
		text-align: center;
		
	}
	
	header .navbar ul li a {
		font-size: 3rem;
		display:block;
	}
	
	header .nav-toggle {
		top:5.5rem;
		opacity: 1;
	}
	
	.home .content p {
		padding: 1.5rem 2rem;
		
	}
	
	.about .row {
		flex-flow: colum-reverse;
	}
	
	.about .row .image img {
		height: 30vh;
		width: 90vw;
		
	}
	
	.about .row .content {
		padding: 0 2.5rem;
	}
	
	.course .box-container {
		width: 100%;
	}
	
	.contact .row {
		flex-flow: column;
	}
	
	.contact .row .form-container {
		width: 90%;
		padding: 0;
	}
}